﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
</head>
<body ng-app="app">
<div ng-controller="PersonController">
    <form name="personFrm">
        <button type="button" class="btn btn-sm" ng-click="addNew()" ng-disabled="rowSelected">Add New</button>
        <button class="btn btn-sm" ng-click="Save()" ng-disabled="rowSelected">Save</button>
        <div class="row">
            <div class="col-md-4">
                <div ng-repeat="person in persons"
                     ng-click="onRowClick(person)"
                     class="person-row">
                    <label>Name: </label>
                    <label>{{person.FirstName}} {{person.LastName}}</label>
                    <div ng-show="person.showDetails">
                        Birthdate:
                        <div>{{person.BirthDate}}</div>
                        Email:
                        <div>{{person.EmailAddress}}</div>
                        Age:
                        <div>{{person.Age}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label>First Name</label>
                    <input type="text" class="form-control" ng-model="selectedPerson.FirstName" />
                    <label>Last Name</label>
                    <input type="text" class="form-control" ng-model="selectedPerson.LastName" required />
                    <label>Birthdate</label>
                    <input type="text" class="form-control" ng-model="selectedPerson.BirthDate" ng-change="onDateOfBirthChanged()" required />
                    <label>Email Address</label>
                    <input type="email" class="form-control" ng-model="selectedPerson.EmailAddress" />
                    <label>Age</label>
                    <span>{{selectedPerson.Age}}</span>
                </div>
            </div>
        </div>
    </form>
</div>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/angular.js"></script>

    <script src="App/app.js"></script>
    <script src="App/Controllers/PersonController.js"></script>
    <script src="App/Services/PersonService.js"></script>
</body>
</html>
